.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cover_img_container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover_img_container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
}
.cover_img_container img {
  max-height: 400px;
  z-index: 1;
}

.title,
.subTitle {
  font-weight: bold;
}

.title {
  font-size: 24px;
}
.subTitle {
  font-size: 18px;
}
